<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body class="body_login">
    <form class="form_wrapper" action="/login" method = "post">
        <div class="heading">
            <h1> login page</h1>
        </div>
        <div class="info">
            <div class="username">
                <h2>username</h2>
                <input type="text" placeholder="username" name = "username">
            </div>
            <div class="password">
                <h2>password</h2>
                <input type="password" placeholder="password"name = "pw">
            </div>
            
        </div>
        <div class="login">
            <p>dont have an acount?</p>
            <input type="submit" value="logg in">
            <input type="submit" value="registrer">
        </div>
    </form>



    

</body>
</html>